@page "/add-patient"
@using DataModel.Models;
@using MedUnifyUI.Services;
@inject HttpClient httpClient
@inject IPatientInterface _IPatient
@inject NavigationManager NavigationManager

<h3>Add Patient</h3>

<!-- Form to add a new patient -->
<EditForm Model="@newPatient" OnValidSubmit="AddPatients">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="newPatient.FirstName">First Name</label>
        <InputText @bind-Value="newPatient.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="newPatient.LastName">Last Name</label>
        <InputText @bind-Value="newPatient.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="newPatient.Address">Address</label>
        <InputText @bind-Value="newPatient.Address" class="form-control" />
    </div>

    <div class="form-group">
        <label for="newPatient.State">State</label>
        <InputText @bind-Value="newPatient.State" class="form-control" />
    </div>

    <div class="form-group">
        <label for="newPatient.City">City</label>
        <InputText @bind-Value="newPatient.City" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Add Patient</button>
</EditForm>

@code {
    private Patient newPatient = new Patient();



    protected override void OnInitialized()
    {
      
    }

    private async Task AddPatients()
    {
        try
        {
            // Call your API service method to add a new patient
            await _IPatient.AddPatient(newPatient);

            // Optionally, reset the form or perform other actions after successful addition
            newPatient = new Patient();
            NavigationManager.NavigateTo("/Patient");
            // Show a success toast
           // ToastService.ShowSuccess("Patient added successfully");
        }
        catch (Exception ex)
        {
            // If an error occurs, show an error toast
           // ToastService.ShowError($"Error adding patient: {ex.Message}");
        }
    }
}
